body {
  font-family: "Raleway: ;";
}
  .container {

    background-color: black;
    color: white;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    top: 0px;

    display: flex;
    align-items: center;
    flex-direction: column;

  }
  .inside {
    background-color: red;
    color: white;
    font-size: 14pt;
    margin: 1em;
    padding: 1em;
    border: 1px solid white;
    width: 500px;
  }
  p {
    border: 1px solid;
  }
